{% extends "templates/base.html" %}


{% block navbar %}
	<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top py-0">
		<a href="{{ basePath }}" style="padding: 0; margin: 0">
			<img class="rounded-sm" src="{{ logoImgString }}" alt="" width="30" height="30" />
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                {% if not logged_in %}
                    <a class="nav-item nav-link" href="{{ basePath ~ 'login_page'}}">Log In</a>
                    <a class="nav-item nav-link" href="{{ basePath ~ 'signup_page'}}">Sign Up</a>
                    <a class="nav-item nav-link disabled" href="#">You must be logged in to create a post</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ basePath ~ 'logout'}}">Logout</a>
                    <a class="nav-item nav-link" href="{{ basePath ~ 'create_post_page'}}">Create Post</a>
                {% endif %}
            </div>
          </div>
	</nav>
	
	<br />
{% endblock %}