{% extends "templates/base_navbar.html" %}


{% block style %}
{{ super() }}
<style>
.full-width {
	width: 100%;
	margin: 0;
	padding: 0;
}
</style>
{% endblock %}


{% block body %}
  
	<div class="row justify-content-center full-width">
    	<div id="contentContainer" class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-5">
			{% for post_data in post_datas %}
				<div class="card box-shadow m-4">
					<h5 class="card-header">{{ post_data.post.title }}</h5>
					<div class="card-body">
						<h5 class="card-title">{{ post_data.account.display_name }}</h5>
						<p class="card-text">{{ post_data.post.content }}</p>
						<a href="{{ basePath ~ 'post/' ~ post_data.post.id }}" class="btn btn-sm btn-primary">View Post</a>
					</div>
				</div>
			{% endfor %}
    	</div>
		<!-- <div id="contentContainer" class="col-0 col-sm-0 col-md-2 col-lg-3 col-xl-3">
			<div class="jumbotron mt-4">
				HI
			</div> -->
		</div>
	</div>
{% endblock %}