{% extends "templates/base_vote.html" %}

{% block js %}
{{ super() }}

<script>
function upvotePost(postId) {
	const upvotePath = document.getElementsByName("upvote_path-" + postId)[0].value;
	fetch(upvotePath)
		.then(response => response.json())
		.then(postData => {
			const url = getUrl();
			const card = document.getElementById("card-" + postData.post.id);
			const postHTML = renderPost(postData, url);
			card.innerHTML = postHTML;
		})
		.catch(error => console.log(error));
}
function downvotePost(postId) {
	const downvotePath = document.getElementsByName("downvote_path-" + postId)[0].value;
	fetch(downvotePath)
		.then(response => response.json())
		.then(postData => {
			const url = getUrl();
			const card = document.getElementById("card-" + postData.post.id);
			const postHTML = renderPost(postData, url);
			card.innerHTML = postHTML;
		})
		.catch(error => console.log(error));
}


function getUrl() {
	return new URL(window.location.href) + "/";
}
async function getPostDataJson(url) {
	const response = await fetch(url + "get_posts");
	const data = await response.json();
	return data;
}
async function renderPostDataJsons() {
	let url = getUrl();
	if (url.endsWith("//")) {
		url = url.slice(0, -1);
	}

	const contentContainer = document.getElementById("contentContainer");

	const postDatas = await getPostDataJson(url);
	for (let postData of postDatas) {
		const card = document.createElement("div");
		card.id = "card-" + postData.post.id;
		card.className = "card box-shadow m-4";

		const postHTML = renderPost(postData, url);
		card.innerHTML = postHTML;		
		
		contentContainer.appendChild(card);
	}
	
}
function renderPost(post_data, basePath) {
	let output = ``;
	output += `
 
	<h5 class="card-header">${ post_data.post.title }</h5>
	
	<input type="hidden" name="upvote_path-${ post_data.post.id }" value="${ basePath + 'upvote_post/' + post_data.post.id }" readonly>
	<input type="hidden" name="downvote_path-${ post_data.post.id }" value="${ basePath + 'downvote_post/' + post_data.post.id }" readonly>

	<div class="card-body">
		<h5 class="card-title text-muted">${ post_data.account.display_name }</h5>
		<p class="card-text">${ post_data.post.content }</p>
		<p class="card-text text-muted">${ post_data.comment_count } comments</p>
		<p id="score-${ post_data.post.id }" class="card-text text-muted">${ post_data.post.score } upvotes</p>
	`;

	if (post_data.vote_value == -2) {
		output += `	<button onclick="upvotePost(${ post_data.post.id });" class="btn btn-sm btn-outline-success mb-2" disabled>Upvote</button>
					<button onclick="downvotePost(${ post_data.post.id });" class="btn btn-sm btn-outline-danger mb-2" disabled>Downvote</button>`
	} else if (post_data.vote_value == -1) {
		output += `	<button onclick="upvotePost(${ post_data.post.id });" class="btn btn-sm btn-outline-success mb-2">Upvote</button>
					<button onclick="downvotePost(${ post_data.post.id });" class="btn btn-sm btn-danger mb-2">Downvote</button>`
	} else if (post_data.vote_value == 1) {
		output += `	<button onclick="upvotePost(${ post_data.post.id });" class="btn btn-sm btn-success mb-2">Upvote</button>
					<button onclick="downvotePost(${ post_data.post.id });" class="btn btn-sm btn-outline-danger mb-2">Downvote</button>`
	} else {
		output += `	<button onclick="upvotePost(${ post_data.post.id });" class="btn btn-sm btn-outline-success mb-2">Upvote</button>
					<button onclick="downvotePost(${ post_data.post.id });" class="btn btn-sm btn-outline-danger mb-2">Downvote</button>`
	}
		
	output += `
		<br />

		<a href="${ basePath + 'post/' + post_data.post.id }" class="btn btn-primary">View Post</a>
	</div>

	`

	return output;
}


document.addEventListener("DOMContentLoaded", () => {
	renderPostDataJsons();
});
</script>

{% endblock %}



{% block body %}
  
	<div class="row justify-content-center full-width">
    	<div id="contentContainer" class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6"></div>
	</div>
{% endblock %}