{% extends "templates/base_navbar.html" %}


{% block style %}
{{ super() }}
<style>
.full-width {
	width: 100%;
	margin: 0;
	padding: 0;
}
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script>

function upvotePost(postId) {
	const upvotePath = document.getElementsByName("upvote_path-" + postId)[0].value;
	fetch(upvotePath)
		.then(response => response.json())
		.then(data => data['score'])
		.then(score => {
			const scoreElement = document.getElementById("score-" + postId);
			scoreElement.innerHTML = score + " upvotes";
		})
		.catch(error => console.log(error));
}
function downvotePost(postId) {
	const upvotePath = document.getElementsByName("downvote_path-" + postId)[0].value;
	fetch(upvotePath)
		.then(response => response.json())
		.then(data => data['score'])
		.then(score => {
			const scoreElement = document.getElementById("score-" + postId);
			scoreElement.innerHTML = score + " upvotes";
		})
		.catch(error => console.log(error));
}

</script>
{% endblock %}



{% block body %}
  
	<div class="row justify-content-center full-width">
    	<div id="contentContainer" class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6">
			{% for post_data in post_datas %}
				<div class="card box-shadow m-4">
					<h5 class="card-header">{{ post_data.post.title }}</h5>
					
					<input type="hidden" name="upvote_path-{{ post_data.post.id }}" value="{{ basePath ~ 'upvote_post/' ~ post_data.post.id }}" readonly>
					<input type="hidden" name="downvote_path-{{ post_data.post.id }}" value="{{ basePath ~ 'downvote_post/' ~ post_data.post.id }}" readonly>

					<div class="card-body">
						<h5 class="card-title text-muted">{{ post_data.account.display_name }}</h5>
						<p class="card-text">{{ post_data.post.content }}</p>
						<p class="card-text text-muted">{{ post_data.comment_count }} comments</p>
						<p id="score-{{ post_data.post.id }}" class="card-text text-muted">{{ post_data.post.score }} upvotes</p>

						<!-- NOTE: syntax errors are okay here, from templating -->
						<button onclick="upvotePost({{ post_data.post.id }});" class="btn btn-sm btn-secondary mb-2">Upvote</button>
						<button onclick="downvotePost({{ post_data.post.id }});" class="btn btn-sm btn-secondary mb-2">Downvote</button>
						<br />

						<a href="{{ basePath ~ 'post/' ~ post_data.post.id }}" class="btn btn-primary">View Post</a>
					</div>

				</div>
			{% endfor %}
    	</div>
		<!-- <div id="contentContainer" class="col-0 col-sm-0 col-md-2 col-lg-3 col-xl-3">
			<div class="jumbotron mt-4">
				HI
			</div> -->
		</div>
	</div>
{% endblock %}