{% extends "templates/userBase.html" %}

{% block title %}Poster: Log In{% endblock %}


{% block mainForm %}
    <form action="{{ basePath ~ 'login_handler'}}" method="post" class="form-signin">

        <a href="{{ basePath }}">
            <img class="mb-2 rounded-lg" src="{{ logoImgString }}" alt="" width="72" height="72" />
        </a>

  	    <h1 class="h3 mb-3 font-weight-normal">Log In</h1>

  		  <input type="text" id="username" name="username" class="form-control top-input" placeholder="Username" required="" autofocus="">
  		  <input type="password" id="password" name="password" class="form-control bottom-input" placeholder="Password" required="">

  		  <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

  		  <a href="{{ basePath ~ 'signup'}}">
            <button type="button" class="btn btn-light btn-sm mt-1">Don't have an account? (Sign Up)</button>
        </a>

        <!-- back button -->
        {{ super() }}
    </form>
{% endblock %}
