{% extends "templates/base_navbar.html" %}

{% block style %}
{{ super() }}
<style>
.full-width {
	width: 100%;
	margin: 0;
	padding: 0;
}
</style>
{% endblock %}

{% macro renderCommentData(comment_tree_node, basePath) %}
	<div class="card m-4">
		<div class="card-body">
			<h5 class="card-title">{{ comment_tree_node.account.display_name }}</h5>
			<p class="card-text">{{ comment_tree_node.comment.content }}</p>
			<p class="card-text text-muted">{{ comment_tree_node.comment.score }} upvotes</p>

			{% if logged_in %}
				<form action="{{ basePath ~ 'add_comment_to_comment/' ~ post.id ~ '/' ~ comment_tree_node.comment.id }}" method="post" class="">
						<!-- <h3 class="h3 mb-3 font-weight-normal">Comment</h3> -->
			
						<textarea type="content" id="content" name="content" class="" placeholder="Comment"></textarea>
			
						<button class="btn btn-lg btn-primary type="submit">Comment</button>
					</a>
				</form>
			{% endif %}
		</div>
		{% for child_comment_tree_node in comment_tree_node.children %}
			{{ renderCommentData(child_comment_tree_node, basePath) }}
		{% endfor %}
	</div>
{% endmacro %}


{% block body %}

<div class="row justify-content-center full-width">
	<div id="contentContainer" class="col-12 col-md-10 col-lg-8">

		<div class="jumbotron m-4 py-4">

			<h5 class="display-4">{{ post.title }}</h5>
			<p class="text-muted">{{ account.display_name }}</p>
			<hr class="my-4">

			<p class="lead">{{ post.content }}</p>
			
			{% if logged_in %}
				<form action="{{ basePath ~ 'add_comment_to_post/' ~ post.id }}" method="post" class="">
						<!-- <h3 class="h3 mb-3 font-weight-normal">Comment</h3> -->
			
						<textarea type="content" id="content" name="content" class="" placeholder="Comment"></textarea>
			
						<button class="btn btn-lg btn-primary type="submit">Comment</button>
					</a>
				</form>
			{% else %}
				<a class="btn btn-outline-primary btn-lg" href="{{ basePath ~ 'login_page' }}" role="button">Login to Comment</a>
			{% endif %}

			<br />
			<button type="button" class="btn btn-secondary btn-sm mt-1" onclick="history.back()">
                Back
            </button>

		</div>


		{% for comment_tree_node in comment_tree_nodes %}
			{{ renderCommentData(comment_tree_node, basePath) }}
		{% endfor %}


	</div>
</div>

{% endblock %}